html {
  min-width: 1000px;
  box-sizing: border-box;
  font-family: "arial", sans-serif;
}

#google-logo {
  margin: 30px;
  display: inline-block;
  width: 100px;
}

.top div img[src="./media/2.png"] {
  width: auto;
}

input[type="text"] {
  display: inline-block;
  margin: 0;
  height: 42px;
  min-width: 500px;
  border-radius: 19px;
  font-size: 16px;
  padding: 0 20px;
  border: 1px solid #9da2b7;
}

input[type="text"]:active, input[type="text"]:hover, input[type="text"]:focus {
  box-shadow: 1px 1px 3px #9da2b7, -1px -1px 3px #9da2b7;
}

.top div {
  display: inline-block;
}

.right {
  position: relative;
  float: right;
  top: 16px;
  right: 20px;
}

.right {
  padding-top: 10px;
  padding-right: 5px;
}

img[src="./media/2.png"] {
  opacity: 0.6;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  padding-right: 30px;
}
img[src="./media/2.png"]:hover {
  opacity: 0.9;
  transition: 0.5s;
}

#user-menu {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: #4497A7;
  border-radius: 18px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

section ul:first-of-type {
  display: block;
  border-bottom: 1px solid gray;
}

section ul:first-of-type li:first-of-type {
  margin-left: 165px;
  border-bottom: 2px solid blue;
}

.last-elem:hover {
  border: 1px solid black;
  background-color: gray;
  padding: 10px;
}

.last-elem {
  border: 1px solid transparent;
}

section ul:first-of-type li {
  display: inline-block;
  padding: 10px;
  padding-bottom: 20px;
}

section ul:first-of-type li a {
  text-decoration: none;
  color: black;
}

main > p {
  padding: 10px;
  margin-left: 150px;
  margin-top: 8px;
  margin-bottom: 20px;
}

main > section {
  margin-left: 165px;
  padding: 10px;
  width: 600px;
  margin-bottom: 20px;
}

main > section > * {
  padding-top: 4px;
  padding-bottom: 3px;
}

main > section > h1 {
  color: blue;
  font-size: 1.3em;
}

main > section > p:first-of-type {
  color: green;
  padding-bottom: 6px;
}

main > section > p:last-of-type {
  color: gray;
  font-size: 0.9em;
}


#similar > h1 {
  color: black;
}

.result > h1 > a {
  text-decoration: none;
}

.result > h1 > a:hover {
  text-decoration: underline;
}

.result > h1 > a:visited {
  color: blue;
}

#similar > ul {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 200px;
}

#similar li:first-of-type {
  margin-left: 0;
  border-bottom: none;
}

#similar li {
  padding: 5px;
  margin-bottom: 5px;
}

#similar a {
  color: blue;
}

#similar ul {
  border: none;
}

footer {
  font-size: 0.9em;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
}

footer div {
  padding: 15px;
  padding-left: 20px;
}

.nums {
  position: relative;
  padding-left: 175px;
}

.nums li {
  display: inline-block;
  padding: 3px 0;
  margin-left: -3px;
}

.nums li a {
  text-decoration: none;
}

.nums li:first-of-type a {
  color: black;
  cursor: default;
}

.nums ul li a, .nums ul li img {
  display: block;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}

[src="media/G.png"] {
  position: relative;
  bottom: 15px;
}

[src="media/small-g.png"] {
  position: relative;
  bottom: 7px;
}

[src="media/l.png"] {
  position: relative;
  bottom: 15px;
}

[src="media/e.png"] {
  position: relative;
  bottom: 15px;
}

[src="media/move-right.png"] {
  position: relative;
  bottom: 6px;
  left: 12px;
}

.nums {
  margin: 50px 0 20px 100px;
}


footer div li {
  display: inline-block;
}

footer div {
  border-top: 1px solid #c6c6c6;
}

.footer-top-bar li:first-child {
  border-right: 1px solid black;
  padding-right: 10px;
}

.footer-top-bar li:nth-child(n+2) {
  padding-left: 20px;
}

.footer-top-bar span {
  font-weight: bold;
}

.footer-top-bar span:before {
  content: " ";
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: black;
  border-radius: 10px;
  z-index: 100;
  position: relative;
  top: 1px;
  right: 5px;
}

footer div > * {
  padding-left: 150px;
}

footer a {
  color: gray;
  text-decoration: none;
}

footer a:hover{
  color: black
}

.footer-bottom-bar li {
  padding-right: 30px;
}

.small-img {
  position: relative;
  display: inline-block;
  width: 24px;
  padding-right: 18px;
  right: 140px;
}
